{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "customCSS" }}
    <link href="/style/musicwave.css" rel="stylesheet" />
{{ end }}

{{ define "content" }}
<div id="top">
    <p>Music :
        <a href="https://www.jamendo.com/track/81740/sad-robot" target="_blank">
        Sad robot
    </a>
    </p>
    <br>
    <audio controls="" id="audio" autoplay="">
        <source id="audioSource" src="/music/d2db677d3cdc0b739d3a8b7e4cfd6b86.mp3" type="audio/mpeg"> Your browser does not support the audio element.
    </audio>
</div>

<canvas id="c" width="1920" height="912"></canvas>

<script src="/script/musicwave.js" ></script>
{{ end }}