#infos.hidden {
	display: none;
	width: 0px;
	height: 0px;
}
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#infos {
	color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	z-index: 900;
}

#homeLink {
	z-index: 999;
	color: black;
	position: absolute;
	top: 5px;
	left: 5px;
}
